<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-NOODE.JS</title>
</head>

<body>

    <h1 style="color: red;">Agora sim hein!</h1>
    <hr>
    <p>Esse pdf tem muito conteúdo hein!</p>
    <p>Nome: <%= nome %> </p>
    <p>Curso: <%= curso %> </p>
    <p>Categoria: <%= categoria %> </p>
    <img src="http://static.wixstatic.com/media/faff7c_d9db683070314357b223989db0c1c1d8~mv2.png/v1/fill/w_280,h_341,al_c,usm_0.66_1.00_0.01/NinnSoloSite.png">

</body>

</html>